* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.grid {
	display: grid;
    grid-template-columns: repeat(8, 14%);
	grid-gap: 10px;
	justify-content: center;
	margin-top: 100px;
}

.flex {
	display: flex;
    justify-content: center;
    margin-top: 100px;
	flex-direction: column;
}
